# Lab Assignment 1: Introduction to Python

## Important Points:
### For executing the code of block, press Shift + Enter.
### For comment use #.

### Problem 1: Write a program to print  "HELLO PYTHON !"

In [1]:
# write your code after this line
print('Hello Python')

Hello Python

### Problem 2: Write a program to run the below code and try to make some changes such as country name, etc.

In [2]:
print('I am from INDIA')
print("I love INDIA")
print("I love "+ 'INDIA')
print("My state name is : "+ "TELANGANA")

I am from INDIA
I love INDIA
I love INDIA
My state name is : TELANGANA

### Problem 3:
#### Task1: Write a program to run the below code and try to make some changes to the program.

In [3]:
country='INDIA'
state="TELANGANA"
age=18
name="ABHISHEK"

print('I am from', country)
print('I love '+ country)
print("I love "+ country)
print("My state name is : "+ state)

print(name, 'is', age, 'year old')
print("Yeah me too.!")

I am from INDIA
I love INDIA
I love INDIA
My state name is : TELANGANA
ABHISHEK is 18 year old
Yeah me too.!

#### Task2: Write a program to display your infomation like (full name, branch, university name, Age, 12th %, hobbies). Store each value into some meaningful variable.  The ouptput of the program should look like:

My name is :
I am in ECE branch at Bennett University : 
I am 18 year old : 
My Higher Secondary % is :
My hobbies are :

In [4]:
# write your code after this line
name="Gaurav"
age=18
clg='BENNETT UNIVERSITY'
marks=90.5
hobbies= 'playing football,social media'
print('My name is',name)
print('I am in CSE branch at',clg)
print('I am',age,'year old')
print('My higher secondfary education % is',marks)
print('My hobbies are',hobbies)

My name is Gaurav
I am in CSE branch at BENNETT UNIVERSITY
I am 18 year old
My higher secondfary education % is 90.5
My hobbies are playing football,social media

### Problem 4: Write a program to perform arithmetic operations (Addition, Subtraction, Multiplication, Division) on two integer numbers. The output of the program should look like:

First number =  
Second number = 
Addition :  
Subtraction :  
Multiplication :  
Division :

In [5]:
number1=20
number2=10

# write your code after this line
# num = number1 + number2
print(number1+number2)
print(number1-number2)
print(number1*number2)
print(number1/number2)

30
10
200
2.0

### Problem 5: Write a run the below code.

In [6]:
firstname=input("Enter your first name: ")
lastname=input("Enter your second name: ")
semester=input("Enter your semester: ")
fullname=firstname + " " +lastname
print("Hello friends my name is ",fullname, " and I am in ", semester, "semester")

Enter your first name: ABHISHEK
Enter your second name: N
Enter your semester: FIRST
Hello friends my name is  ABHISHEK N  and I am in  FIRST semester

### Problem 6 : Write a program to swap the contents of two variables using third variable. The output of the program should look like:

Before swapping:
First Value: 90
Second Value: 10

After swapping:
First Value: 10
Second Value: 90

In [7]:
first_value=90
second_value=10
# write your code after this line ...
t=first_value
first_value=second_value
second_value=t
print("first value",first_value)
print("second value",second_value)

first value 10
second value 90

### Problem 7 : The wheel of a bullock cart has a radius of 6 m. If the wheel rotates once, write a program to determine how much distance does the cart move?

In [8]:
# write your code after this line
r=int(input("enter radius"))
dis=float(2*3.14*r)
print(dis)

enter radius6
37.68

### Problem 8 : Write a program to evaluate the expression: 5x^2 + 10x + 5 and print the result. Take x=10, x=20, x=15

In [9]:
# write your code after this line
x1=int(input("enter the value of x1:"))
t=5*x1**2+10*x1+5
print(t)
x2=int(input("enter the value of x2:"))
t=5*x2**2+10*x2+5
print(t)
x3=int(input("enter the value of x3:"))
t=5*x3**2+10*x3+5
print(t)

enter the value of x1:10
605
enter the value of x2:20
2205
enter the value of x3:15
1280

### Problem 9 : Assume Sachin’s basic salary is 10 Lakh. His dearness allowance(DA) is 40% of basic salary, and house rent allowance(HRA) is 20% of basic salary. Write a program to calculate his gross salary.

In [11]:
basic=1000000
da=0.40*basic
hra=0.20*basic
gross=basic+da+hra
print("gross=",gross)

gross= 1600000.0

### Problem 10 : A cashier has currency notes of denominations 10, 50 and 100. Take an Input of a number for withdraw amount. Find the total number of currency notes of each denomination the cashier will have to give to the withdrawer. The output of the program should look like. Take some exmple to test your program.

Enter amount to be withdrawn: 170
100 rupees note:1
50 rupees note:1
10 rupes note:2

In [10]:
# write your code after this line
w=int(input("enter the amount to be withdrawn in multiple of 10 "))
h=w//100
r=w%100
f=r//50
r2=r%50
t=r2//10
print("hundred rupee notes",h)
print("fifty rupee notes",f)
print("ten rupee notes",t)
h=w//100
r=w-(100*h)
f=r//50
r=r-(50*f)
t=t//10

enter the amount to be withdrawn in multiple of 10 14520
hundred rupee notes 145
fifty rupee notes 0
ten rupee notes 2